.padded{
	padding-left:10px;
	padding-right:10px;
	
}
.action_container_main{
	width:100%;
	min-height:35px;
	/* border:solid red 1px; */
	position:relative;
	display:flex;
	padding-bottom:2px;
}

.top_toolbar_con{
	justify-content:flex-start;
}



.action_container_main >.column_container{
	width:50%;
	min-height:inherit;
	/* border:solid lime 1px; */
	display:flex;
	align-items:flex-start;
	gap:10px;
	
}

.center_aligned{
	align-items:center !important;
	
}

.dropdown-menu{
		margin-top:2px;
		right:10px;
}

.dropdown-menu > li > a{
		width:130px;
		font-size:inherit;
}


.action_container_main >.column_container.to_right{

	align-items:flex-end;
	justify-content:flex-end;
		
}

.drp_adjusted{
	width:120px;
	
}

.action_buttons_ {
    width: 100%;
    margin-right: 4px;
    height: 100%;
    background: var(--secondary_background_lighter);
    color: var(--primary_color_invert);
    border: none;
    border-radius: 4px;
    max-height: 25px;
    max-width: 120px;
	border-radius:15px !important;
}

.action_buttons_.print_button{
	
	box-shadow:0 3px 0 var(--secondary_background_lighter);
	
}

.action_container_main >.column_container > .search_field_container{
	width:100%;
	border-radius:20px;
	max-width:400px;
	
}


.table_actoion_button_con{
	gap:1rem;
	width:100%;
}

.table_actoion_button_con > button{
	border-radius:15px;
}

.table_title_con{
	width:100%;
}

.filter_toolbar_con {
	min-height:30px;
	/* padding-bottom:0px; */
	padding-top:0px;
	padding-bottom:5px;
	padding-left:15px;
	
}

.table_wrapper{
	padding-top:0px;
}


@media (max-width:600px){
	.table_actoion_button_con{
		gap:2px;
		
	}
	
	.select_elm_filter{
		height:35px;
	}
	
	.top_toolbar_con{
		height:50px;
		min-height:50px;
	}
	
	.action_container_main{
		flex-direction:column;
		
	}
	
	.action_container_main > .column_container{
		width:100% !important;
	}
	
	.search_field_container{
		max-width:600px !important;
	}
	
}