  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa'), url('comfortaa_regular.ttf') format('ttf');
    src: url('comfortaa_regular.ttf') format('ttf'); 
    src: url('comfortaa_regular.ttf'); 
    }






@keyframes slide_from_left {
	from{
		background:white;
		/* left:-100%; */
		transform:translateX(-100%) scale(0.5,0.5);
	}
	
	
	to{
		background:rgba(0,0,0,0.4), scale(1,1);
		/* left:0; */
		transform:translateX(0);
		
	}
	
}


@-webkit-keyframes slide_from_left {
	from{
		background:white;
		/* left:-100%; */
		-webkit-transform:translateX(-100%) scale(0.5,0.5);
	}
	
	
	to{
		background:rgba(0,0,0,0.4), scale(1,1);
		/* left:0; */
		-webkit-transform:translateX(0);
		
	}
	
}


@keyframes slide_from_right {
	from{
		background:white;
		/* right:-100%; */
		transform:translateX(100%) scale(0.5,0.5);
	}
	
	
	to{
		background:rgba(0,0,0,0.4);
		transform:translateX(0%) scale(1,1);
		/* right:0; */
	}
	
}

@-webkit-keyframes slide_from_right {
	from{
		background:white;
		/* right:-100%; */
		-webkit-transform:translateX(100%) scale(0.5,0.5);
	}
	
	
	to{
		background:rgba(0,0,0,0.4);
		-webkit-transform:translateX(0%) scale(1,1);
		/* right:0; */
	}
	
}

@keyframes slide_to_right {
	from{
		
		background:rgba(0,0,0,0.4);
		transform:translateX(0) scale(1,1);
		/* right:0; */
		opacity:1;
	}
	
	
	to{
		background:white;
		/* right:-110%; */
		transform:translateX(100%) scale(0.6,0.6);
		opacity:0;
	}
	
}
@-webkit-keyframes slide_to_right {
	from{
		
		background:rgba(0,0,0,0.4);
		-webkit-transform:translateX(0) scale(1,1);
		/* right:0; */
		-webkit-opacity:1;
	}
	
	
	to{
		background:white;
		/* right:-110%; */
		-webkit-transform:translateX(100%) scale(0.6,0.6);
		-webkit-opacity:0;
	}
	
}

@keyframes slide_to_left {
	from{
		
		background:rgba(0,0,0,0.4);
		transform:translateX(0) scale(1,1);
		opacity:1;
	}
	
	
	to{
		background:white;
		transform:translateX(-100%) scale(0.6,0.6);
		opacity:0;
	}
	
}


@-webkit-keyframes slide_to_left {
	from{
		
		background:rgba(0,0,0,0.4);
		-webkit-transform:translateX(0) scale(1,1);
		-webkit-opacity:1;
	}
	
	
	to{
		background:white;
		-webkit-transform:translateX(-100%) scale(0.6,0.6);
		-webkit-opacity:0;
	}
	
}




@keyframes as_to_left{
	from{
		transform:translateX(0);
		opacity:1;
	}
	50%{
			transform:translateX(100%);
			opacity:0;
		}
	51%{
		transform:translateX(-100%);
		opacity:0;
	}	
		
	
	to{
		opacity:1;
		transform:translateX(0);
	}
	
}


@-webkit-keyframes as_to_left{
	from{
		-webkit-transform:translateX(0);
		-webkit-opacity:1;
	}
	50%{
			-webkit-transform:translateX(100%);
			-webkit-opacity:0;
		}
	51%{
		-webkit-transform:translateX(-100%);
		-webkit-opacity:0;
	}	
		
	
	to{
		-webkit-opacity:1;
		-webkit-transform:translateX(0);
	}
	
}



@keyframes as_to_right{
	from{
		transform:translateX(0);
		opacity:1;
	}
	50%{
			transform:translateX(-100%);
			opacity:0;
		}
	51%{
		transform:translateX(100%);
		opacity:0;
	}
	to{
		opacity:1;
		transform:translateX(0);
	}
	
}

@-webkit-keyframes as_to_right{
	from{
		-webkit-transform:translateX(0);
		-webkit-opacity:1;
	}
	50%{
			-webkit-transform:translateX(-100%);
			-webkit-opacity:0;
		}
	51%{
		-webkit-transform:translateX(100%);
		-webkit-opacity:0;
	}
	to{
		-webkit-opacity:1;
		-webkit-transform:translateX(0);
	}
	
}

._carsel_con_m{
	box-sizing:border-box;
	width:100%;
	background:rgba(250,250,250,0.4);
	
}


._carsel_main_con{
	box-sizing:border-box;
	width:100%;
	
	min-height:80vmin;
	background:rgba(40,40,40,1);
	margin:0px auto;
	
	position:relative;
	overflow:hidden;
	
}

._slide_counter{
	color:white;
	position:absolute;
	top:10px;
	left:10px;
	z-index:12;
	font-size:1.5em;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
	font-family:Comfortaa;
}



._carsel_arrows_con{
	box-sizing:border-box;
	width:100%;
	/* border:solid lime 1px; */
	min-height:100px;
	-webkit-pointer-events:none;
	pointer-events:none;
	position:absolute;
	bottom:40%;
	z-index:12;
}

._carsel_arrows_right, ._carsel_arrows_left {
	cursor:pointer;
	user-select:none;
	pointer-events:all;
	
}
/* ====== */
/* Arrows  */
/* ====== */

._carsel_arrows_left{
	box-sizing:border-box;
	position:absolute;
	left:0;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	width:50px;
	height:100%;
	font-weight:bold;
	font-size:1.6em;
	background:rgba(231,10,73,0.5);
	border-radius:0 50px 50px 0;
	user-select:none;
	transition:0.3s;
	-webkit-transition:0.3s;
	  -webkit-transform:translateX(-20px);
	  transform:translateX(-20px);
	  	box-shadow:0px 0px 4px 4px rgba(0,0,0,0.2);
	
}
._carsel_arrows_right{
	box-sizing:border-box;
	position:absolute;
	right:0;
	color:white;
	display:flex;
	justify-content:center;
	align-items:center;
	width:50px;
	height:100%;
	font-weight:bold;
	font-size:1.6em;
	background:rgba(225,15,0,0.5);
	border-radius:50px 0px 0px 50px;
	-webkit-transition:0.3s;transition:0.3s;
	
	-webkit-transform:translateX(20px);
	transform:translateX(20px);
		box-shadow:0px 0px 4px 4px rgba(0,0,0,0.2);
}



._carsel_arrows_left:hover , ._carsel_arrows_right:hover{
	-webkit-transform:translateX(0px);
	transform:translateX(0px);
	
}

/* ======= */
/* End of Arrows */
/* =-=-=-= */



._astral_con{
	width:100%;
	border:solid 1px white;
	min-height:inherit;
	position:absolute;
	z-index:8;
	box-sizing:border-box;
	-webkit-transition:0.3s;
	transition:0.3s;
	/* -webkit-filter:blur(1px); */
	/* filter:blur(1px); */
	display:flex;
	align-items:center;
	justify-content:center;
	
	
	
	
}


#_astral_carsel_bg{
	width:100%;
	min-height:auto;
	-webkit-transition:0.2s;
	transition:0.2s;
	opacity:0.8;
	
	
	
	
	
}


.astral_port{
		width:100% !important;
		height:auto !important;
	
}



.caption_con{
	box-sizing:border-box;
	width:100%;
	min-height:50px;
	/* border:solid red 1px; */
	position:absolute;
	bottom:0;
	z-index:14;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:Comfortaa;
}


/* The caption container style */
._caption_text{
	box-sizing:border-box;
	width:100%;
	min-width:250px;
	max-width:800px;
	min-height:inherit;
	/* border:solid white 1px; */
	border-radius:10px 10px 0 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.1));
	box-shadow:0px -3px 5px 5px rgba(20,20,20,0.3);
	
	overflow-x:hidden;
	color:white;
	text-align:center;
	vertical-align:center;
	padding:5px;
	
}




._cap_title{
	margin-top:0px;
	font-size:1.5em;
	font-weight:bold;
	display:block;
	color:inherit;
	text-shadow:0px 0px 3px rgba(0,0,0,0.3);
	
}
._cap_sub_title{
	margin-top:2px;
	font-size:1em;
	color:inherit;
	opacity:0.7;
	max-height:50px;
	overflow:hidden;
	-webkit-opacity:0.7;
	display:block;
	
}


/* nav buttons on the caroucel */
._cs_nav_main{
	box-sizing:border-box;
	min-width:100%;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

._cs_nav_con{
	box-sizing:border-box;
	width:fit-content;
	min-width:250px;
	max-width:320px;
	height:30px;
	background:rgba(10,10,10,0.1);
	box-shadow:0px 10px 15px 10px rgba(190,190,190,0.5) inset,
				0px 0px 3px 4px rgba(5,5,5,0.3);
	border-radius:5px 5px 0 0;
	position:absolute;
	bottom:0;
	z-index:15;
	padding:5px;
	overflow-x:auto;
	overflow-y:hidden;
	text-align:center;
	-webkit-user-select:none;
	white-space:nowrap;
	-webkit-transform:translateY(15px);
	transform:translateY(15px);
	opacity:0.6;
	-webkit-opacity:0.6;
	transition:0.2s;
	-webkit-transition:0.2s;
}


._cs_nav_con:hover{
	transform:translateY(0px);
	-webkit-transform:translateY(0px);
	opacity:1;
	
}

._cs_nav_con::-webkit-scrollbar{
	/* display:none; */
	/* width:20px; */
	height:5px;
	
	
	z-index:16;
}

.cs_nav_con::-webkit-scrollbar-track{
	background:rgba(255,255,255,0.5);
	/* border:solid 1px lime; */
	
}

.cs_nav_con::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,0.9);
}



._cs_nv{
	width:10px;
	height:10px;
	background:rgba(250,250,250,0.9);
	display:inline-block;
	border:2px solid white;
	border-radius:100%;
	cursor:pointer;
	margin:1px;
	transition:0.2s;
	-webkit-transition:0.2s;
}

.no_focus_l{
	background:rgba(25,25,25,0.9) !important;
	border:2px solid black !important;
	-webkit-opacity:0.7;
}






/* ======= */
/* Slides */
/* =-=-=-= */

.pic_slide{
	box-sizing:border-box;
	width:100%;
	min-height:inherit;
	/* border:solid 1px violet; */
	border-radius:inherit;
	position:absolute;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	transition:0.2s;
	-webkit-transition:0.2s;
	z-index:11;
	background:rgba(240,240,240,0.5);
}


.set_out{  /* dont display all slides from the start */
	right:-100%;
	opacity:0;
	-webkit-opacity:0;
	
}


.pic_slide > img{
	box-sizing:border-box;
	width:auto;
	height:auto;
	max-height:95vmin;
	box-sizing:border-box;
	/* border:solid lime 1px; */
	-webkit-transition:0.2s;
	transition:0.2s;
	box-shadow:0px 0px 4px 4px rgba(0,0,0,0.3);
	
}

.portrait_ {
	box-sizing:border-box;
	width:auto !important;
	height:inherit !important;
	max-height:98vmin !important;

	
}

.pic_slide:hover{
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	overflow:initial;
	cursor:pointer;
}

.portrait_ :hover{
	-webkit-transform:scale(0.7,0.7);
	transform:scale(0.7,0.7);
	
}





@media (max-width:680px){
	.pic_slide:hover{
	transform:scale(0.97,0.97);
	cursor:pointer;
}
.pic_slide > img{
	box-sizing:border-box;
	width:100%;
	height:auto;
	max-height:initial;
	box-sizing:border-box;

	-webkit-transition:0.3s;

	transition:0.3s;

}
	

._caption_text{
	max-width:600px;
	
	
}

.caption_con{
	min-height:80px;
	font-size:0.85em;
}


#_astral_carsel_bg{
	width:auto;
	min-height:inherit;
	-webkit-transition:0.2s;
	transition:0.2s;
	opacity:0.8;
	
	
	
}


._slide_counter{
	font-size:1.2em;
	
}	
	
}


/* ==Pair== */

._caption_title_text{
	display:none;
}


.pic_from_left{
	
	animation-name:slide_from_left;
	animation-duration:0.5s;
	animation-direction:normal;
	animation-fill-mode:both;
	animation-timing-function:in-ease-out;
	-webkit-animation-name:slide_from_left;
	-webkit-animation-duration:0.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:in-ease-out;
	
}


.pic_to_right{
	
	animation-name:slide_to_right;
	animation-duration:0.5s;
	animation-direction:normal;
	animation-fill-mode:both;
	animation-timing-function:ease-out;
	-webkit-animation-name:slide_to_right;
	-webkit-animation-duration:0.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:ease-out;
	
}


.a_on_left{
	animation-name:as_to_left;
	animation-duration:0.6s;
	animation-direction:normal;
	animation-fill-mode:both;
	
	-webkit-animation-name:as_to_left;
	-webkit-animation-duration:0.6s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	
	
}



/* ==== */


/* ==Pair== */

.pic_from_right{
	
	animation-name:slide_from_right;
	animation-duration:0.5s;
	animation-direction:normal;
	animation-fill-mode:both;
	animation-timing-function:in-ease-out;
	-webkit-animation-name:slide_from_right;
	-webkit-animation-duration:0.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:in-ease-out;
	
}


.pic_to_left{
	
	animation-name:slide_to_left;
	animation-duration:0.5s;
	animation-direction:normal;
	animation-fill-mode:both;
	animation-timing-function:ease-out;	
	-webkit-animation-name:slide_to_left;
	-webkit-animation-duration:0.5s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	-webkit-animation-timing-function:ease-out;
	
}

.a_on_right{
	animation-name:as_to_right;
	animation-duration:0.6s;
	animation-direction:normal;
	animation-fill-mode:both;
	
	-webkit-animation-name:as_to_right;
	-webkit-animation-duration:0.6s;
	-webkit-animation-direction:normal;
	-webkit-animation-fill-mode:both;
	
	
}



@media (max-width:400px){
	._cap_title{
		font-size:1.2em;
		
	}
	
	._carsel_arrows_con{
		min-height:60px;
	}
	
}


/* ==== */

