
:root {
  --primary_background: #efefef;
  --primary_background_faded: #efefef35;
  --primary_background_darker: #e3e3e3;
  --primary_color: rgba(40,40,40,1);
  --primary_color_faded: rgba(40,40,40,0.6);
  --primary_color_invert: rgba(254,254,255,1);
  --secondary_color: #86b7fe;
  --secondary_color_faded: #86b7fe88;
  --secondary_color_darker: #19237b;
  --third_color_faded: rgba(24,24,24,0.30);
  
  --secondary_background: #202d9d;
  --accent_color:#D6BC3D;
  --error_color: #e91e63;
}


*::-moz-selection { /* Code for Firefox */
  color: rgba(230,230,230,1);
  background: rgba(0,180,50,0.7);
  border-radius:4px;
}

*::selection {
  color: var(--primary_color_invert);
  background: var(--secondary_color);
  border-radius:4px;
}




.primary_color::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary_color);
  opacity: 0.6; /* Firefox */
}



.primary_color{
	color: var(--primary_color)!important;
	
}

.primary_color_invert{
	color: var(--primary_color_invert);
	
}

.secondary_color{
	color:var(--secondary_color);
	
}

.outline_only_bg{
	background:rgba(0,0,0,0.0) ;
	border:solid rgba(45,45,45,0.5) 1px !important;
}

.primary_background{
	background-color:var(--primary_background);
}
.primary_background_darker{
	background-color:var(--primary_background_darker);
}

.secondary_background{
	background-color:var(--secondary_background);
}


.third_background_faded{
	background-color:var(--third_color_faded);
	
	
}



.secondary_background_gradient{
	background-color:var(--secondary_background);
	background: #028090;
	background: -webkit-linear-gradient(90deg,var(--secondary_background) 0%, var(--secondary_color) 100%);
	background: -moz-linear-gradient(90deg,var(--secondary_background) 0%, var(--secondary_color) 100%);
	background: linear-gradient(90deg,var(--secondary_background) 0%, var(--secondary_color) 100%);
}




.profile_page_con{
	
	border-right:var(--secondary_background);
	
}



