.content_header_main{
	box-sizing:border-box;
	width:100%;
	
	min-height:500px;
	/* border:solid lime 1px; */
	position:relative;
	/* background:rgba(250,250,250,0.95); */
	padding:10px;
	display:flex;
	justify-content:center;
	font-family:Comfortaa;
	height:100vh;
}


.content_header_main > *{
	box-sizing:border-box;
	
	
}


._content_section_con{
	width:50%;
	box-sizing:border-box;
	
	height:100%;
	/* border:1px solid blue; */
	display:inline-block;
	max-width:600px;
	padding:10px;
	-webkit-transition:0.3s;
	transition:0.3s;
	z-index:3;
}

.section_2{
	width:45%;
	display:inline-block;
}

._content_section_inner{
	box-sizing:border-box;
	width:100%;
	height:100%;
	min-height:300px;
	/* border:solid yellow 1px; */
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding:4px;
	
	
}



._content_section_text{
	width:100%;
	height:100%;
	/* border:1px solid black; */
	display:flex;
	flex-direction:column;
	justify-content:center;
	
	
}


._content_section_title{
	width:100%;
	height:auto;
	/* border:1px red solid; */
	display:block;
	padding-left:5px;
	text-align:left;
	box-sizing:border-box;
	font-size:2em;
	margin-bottom:10px;
	
}
._content_section_message{
	width:100%;
	height:auto;
	/* border:1px green solid; */
	display:block;
	padding-left:10px;
	font-size:1em;
	text-align:justify;
	box-sizing:border-box;
	text-indent:20px;
	
	
}

.image_container_h_image{
	width:100%;
	height:auto;
	
	
	box-sizing:border-box;
	
	
}



.image_container_h_content{
	box-sizing:border-box;
	width:220px;
	height:220px;
	/* border:solid 1px black; */
	
	
	
}


@media (max-width:600px){
	.content_header_main{
		flex-direction:column-reverse;
		min-height:720px;
		
		
	}
	.no_reverse{
		flex-direction:column;
		min-height:720px;
		
		
	}
	
	._content_section_con, .section_2 {
		
		width:100%;
		min-height:350px;
		
	}
	
	.image_container_h_content{
		width:250px;
		height:250px;
	}


}

