
* {
	box-sizing:border-box;
}

.df_titlebar_main_con{
	width:100%;
	min-height:90px;
	max-height:90px;
	/* border:solid lime 1px; */
	position:sticky;
	top:0px;
	display:flex;
	-webkit-transition:0.2s;
	transition:0.2s;
}


.df_titlebar_main_con.center{
	align-items:center;
	justify-content:center;
	position:sticky;
	z-index:19;
}

.df_titlebar_main_con.pinned{
	min-height:50px;
	max-height:50px;
	box-shadow:2px 2px 2px 2px rgba(100,100,100,0.5);
	z-index:5;
	position:sticky;
	margin-bottom:40px;
}

.df_titlebar_main_con  > .title_container{

	width:100%;
	max-width:400px;
	min-height:inherit;
	/* border:solid yellow 1px; */

}

.df_titlebar_main_con  > .title_container > .text_banner{
	width:100%;
	font-family: 'Gotham Rounded Bold';
	min-height:inherit;
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:bold;
	white-space:nowrap;
	text-overflow:ellipsis;
	
}



.df_titlebar_main_con.pinned  > .title_container > .text_banner{
	width:100%;
	font-family: 'Gotham Rounded';
	font-weight:lighter;

	
	
}

/* Other Styles */



.logo_title_con{
	width:100%;
	min-height:50px;
	height:100%;
	max-width:90px;
	padding:15px;
	padding-top:2px;
	/* border:solid red 1px; */

}



.logo_title_con > .logo_onside{
	width:100%;
	aspect-ratio:1/1;
	height:auto;
	min-width:50px;
	
}


.title_text_big{
	width:100%;
	/* border:solid lime 1px; */
	padding:10px;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	
	
	
}

.title_text_big > .title_text{
	/* border:solid red 1px; */
	padding:10px;
	
	
}


.nav_buttons_top{
	display:flex;
	width:100%;
	/* border:solid white 1px; */
	max-width:100px;
	min-height:50px;
	min-width:300px;
	flex-direction:row;
	align-items:center;
	padding:5px;
	gap:10px;
}

.nav_buttons_top > .nav_button_entry{
	width:100%;
	padding:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	max-height:35px;
	border-radius:20px;
	-webkit-transition:0.2s;
	transition:0.2s;
	
}


.nav_buttons_top > .nav_button_entry:hover{
	background:var(--primary_background_faded);
	opacity:0.7;	
}


.nav_buttons_top > .nav_button_entry.active{
	background:var(--primary_background_faded);
	color:var(--primary_color_invert);
}

.pinned.custom_pinned{
	max-height:60px !important;
}





@media screen and (max-width: 600px){
	.text_banner{
		font-size:1.2em;
		
	}
	.df_titlebar_main_con{
		
		flex-wrap:wrap;
		max-height:150px;
		overflow:hidden;
	}
	
	.nav_buttons_top{
		max-width:unset;
	}

}





@media screen and (max-width: 400px){
	.text_banner{
		
		font-size:1.2em;
		
		
	}
	.df_titlebar_main_con{
		
		min-height:60px;
		max-height:150px;
		overflow:hidden;
		
	}
	
	.custom_pinned > .title_text_big{
		padding-top:0px;
		
		
	}
	
	.title_text_big{
		padding-top:0px;
		
	}
}


