

.df_field{
	min-width:40px;
	width:200px;
	min-height:35px;
	cursor:pointer;
	border:solid gray 1px;
	outline:none;
	background-color:none;
	border-radius:7px;
	opacity:0.6;
	padding:5px;
	font-family:Gotham Rounded! important;
	
	/* box-shadow:0 3px 0 var(--secondary_color_darker); */
	user-select:text;
	caret-color:var(--secondary_color);
	-webkit-caret-width:2px;
	-webkit-transition:0.2s;
	transition:0.2s;
	
}



.df_field:active,.df_field:focus{
		border:solid var(--secondary_color) 2px;
		background-color:var(--primary_background);
		opacity:1;

}


