


.placeholder_label{
	position:absolute;
	top:10px;
	left:10px;
	opacity:0.7;
	user-select:none;
	padding:0px;
	padding-left:4px;
	padding-right:4px;
	color:var(--primary_color);
	border-radius:10px;
	background:var(--primary_background);
	transition:0.1s;
	-webkit-transition:0.1s;
}

.placeholder_label.infocus{
	-webkit-transform:translateY(-20px) scale(0.8, 0.8);
	transform:translateY(-20px) scale(0.8, 0.8);
	z-index:4;
	padding:1px;
	padding-left:5px;
	padding-right:5px;
	opacity:1;
	max-height:20px;
	overflow:hidden;
	white-space:no-wrap;
	
}

