@-webkit-keyframes zoomout_in {
	from{
		
		/* left:-100%; */
		-webkit-transform:translateX(100%) ;
		opacity:0;
		display:none;
	}
	
	
	to{
		
		/* left:0; */
		-webkit-transform:translateX(0%)  ;
		opacity:1;
		display:block;
		
	}
	
}

@-webkit-keyframes zoomin_out{
	from{
		
		/* left:-100%; */
		-webkit-transform:translateX(0%) ;
		opacity:1;
		display:block;
	}
	
	
	99%{
		
		/* left:0; */
		-webkit-transform:translateX(100%) ;
		opacity:0;
		
		
	}
	100%{
		-webkit-transform:translateY(-100%);
		opacity:0;
		display:none;
		visibility:hidden;
	}
	
}


@keyframes zoomout_in {
	from{
		
		/* left:-100%; */
		transform:translateX(100%) ;
		opacity:0;
		display:none;
	}
	
	
	to{
		
		/* left:0; */
		transform:translateX(0%)  ;
		opacity:1;
		display:block;
		
	}
	
}

@keyframes zoomin_out{
	from{
		
		/* left:-100%; */
		transform:translateX(0%) ;
		opacity:1;
		display:block;
	}
	
	
	99%{
		
		/* left:0; */
		transform:translateX(100%) ;
		opacity:0;
		
		
	}
	100%{
		transform:translateY(-100%);
		opacity:0;
		display:none;
		visibility:hidden;
	}
	
}



.main_filter_con{
	
	position:fixed;
	width:100%;
	height:100%;
	display:flex;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:101;
	justify-content:flex-end;
	align-items:center;
	/* font-family:Comfortaa; */
	
	-webkit-animation-name:zoomin_out;
	-webkit-animation-duration:0.5s;
	-webkit-animation-fill-mode:both;
	animation-name:zoomin_out;
	animation-duration:0.5s;
	animation-fill-mode:both;
	
	
}

.hide_filter{
	display:none;
	
}

.show_filter{
	-webkit-animation-name:zoomout_in;
	animation-name:zoomout_in;
	
}


.filter_con{
	box-sizing:border-box;
	width:100%;
	max-width:400px;
	height:100%;
	/* min-height:100vmin; */
	/* max-height:400px; */
	display:flex;
	flex-direction:column;
	padding:0px;
	top:0;
	bottom:0;
	right:0;
	position:fixed;
	border-radius:5px;
	overflow:hidden;
	/* overflow-y:auto; */
	/* padding-top:45px; */
	/* padding-bottom:45px; */
	box-shadow:0px 0px 3px 3px rgba(0,0,0,0.3);
	justify-content:center;
	align-items:center;

	
	
}

.filter_option_con{
	box-sizing:border-box;
	position:relative;
	width:100%;
	height:100%;
	min-height:50px;
	padding:5px;
	align-items:center;
	justify-content:center;
	overflow-y:auto;
	padding-left:10px;
	z-index:1;
	font-size:0.8em;
}

.bottom_fixed{
	position:relative;
	bottom:0px;
	box-shadow:0px -2px 2px 2px rgba(23,23,23,0.2);
	padding-bottom:10px;
	padding-top:10px;
}


.title_filter{
	/* font-size:; */
	opacity:1;
	display:flex;
	align-items:center;
	justify-content:center;
	z-index:2;
	padding:10px;
	min-height:50px;
	position:relative;
	width:100%;
	background:var(--secondary_background);
	top:0px;
}


.close_filter{
	position:absolute;
	border:none;
	top:0;
	right:0;
	padding:6px;
	cursor:pointer;
	z-index:5;
}



.cat_filter_sel{
	width:100%;
	max-width:250px;
	box-sizing:center;
	padding:5px;
	border:none;
	outline:none;
	border-bottom:solid gray 1px;
	border-radius:2px;
	
}


.cat_filter_input{
	width:100%;
	max-width:150px;
	box-sizing:center;
	padding:5px;
	border:none;
	outline:none;
	border-bottom:solid gray 1px;
	border-radius:5px;
	border:solid 1px var(--secondary_color);
	
}

.white_section{
	background:var(--primary_background);
	padding:10px;
	border-radius:10px;
	
}



.multiple_col{
	display:flex;
	align-items:flex-start;
	justify-content:space-around;
	padding-top:10px;
}


.multiple_col > div{
	width:100%;
	padding:5px;
}

.line_2.invisible{
	visibility:hidden;
	
}

.app_now{
	max-width:150px;
	width:100%;
	border-radius:15px !important;
	
}


/* Section Sizes */

.section_bottom{
	height:100px;
	max-height:100px;
	display:flex;
	flex-direction:column;
}



