.main_card_con{
	/* border:1px solid lime; */
	width:100%;
	min-height:300px;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	padding:10px;
	flex-wrap:wrap;
	
	padding-left:25px;
	gap: 10px;
}

.my_card_item{
	width:100%;
	max-width:300px;
	aspect-ratio:1.2/1;
	min-height:200px;
	padding:5px;
	padding-top:45px;
	position:relative;
	background:var(--primary_background);
	/* border:solid red 1px; */
	border-radius:10px;
	cursor:pointer;
	-webkit-transition:0.2s;
	transition:0.2s;
	border:solid 1px rgba(50,50,50,0.2);
}

.my_card_item:hover{
	box-shadow:rgba(50,50,50,0.2) 0px 0px 3px 2px;
	
}

.my_card_item:active{
	-webkit-transform:translateY(4px);
	transform:translateY(4px);
	
}



.my_card_item > .card_tools{
	position:absolute;
	width:95%;
	top:5px;
	right:5px;
	left:5px;
	min-height:40px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	padding:5px;
	pointer-events:none;
	/* border:solid yellow 1px; */
	
}




.my_card_item > .card_tools > .action_button{
	width:20px;
	padding:4px;
	aspect-ratio:1/1;
	height:auto;
	text-align:center;
	opacity:0.7;
	cursor:pointer;
	-webkit-transition:0.3s;
	transition:0.3s;
	-webkit-tap-highlight-color: transparent;
	pointer-events:all;
}


.my_card_item > .card_tools > .action_button:hover{
	opacity:1;
	
}

.my_card_item.grow_more{
	flex-grow:2;
	max-width:400px;
	aspect-ratio:3/2;
	
	
}

.card_title_text{
	padding:5px;
	/* padding-right:30px; */
	font-weight:bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



.card_detials{
	padding:5px;
	padding-left:10px;
	font-weight:light;
	opacity:0px;
	
}

.card_big_info{
	padding:10px;
	min-height:100px;
	
	
}

.add_card{
	opacity:0.8;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:0;
	outline:none;
	
}
.add_card:hover{
	outline:dashed 2px gray;

}

.add_sign{
	opacity:0.5;
	
	
}

.centered{
	text-align:center;
}

.top_container{
	padding:10px;

}


.header_theme{
	padding:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:10px;
	position:relative;
	top:-10px;
	filter: saturate(0.85);
	
	
}

/* Others Styles (For Action Bar)*/

.top_action_bar{
	padding:2px;
	padding-top:15px;
	padding-left:25px;
	display:flex;
	padding-right:10px;
	justify-content:space-between;
	flex-wrap:wrap;
	gap:4px;
}

.top_action_bar > div{
	width:100%;
	max-width:400px;
	display:flex;
	align-items:center;
	gap:5px;
}




.top_action_bar > div > .search_input{
	width:100%;
	max-width:400px;
}


.top_action_bar > div > .select_input{
	width:100%;
	max-width:400px;
}


.add_my_room_class{
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    width:65px;
    height:65px;
    bottom:10px;
    right:10px;
    border-radius:100%;
    cursor:pointer;
    aspect-ratio:1/1;
    box-shadow:2px 0px -2px 0px var(--primary_background_darker);

}




/*For Modals*/
.join_room_modal_container{
/*    border:solid red 1px;*/
    width:100%;
    min-height:50px;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:column;
    padding:10px;
    gap:5px;

}


.join_room_modal_container > input{
    width:100%;
    max-width:300px;

}



@media (max-width: 750px){
	.main_card_con{
		justify-content:center;
	}
	
}




@media (max-width: 550px){
	.main_card_con{
		flex-direction:column;
	}
	.my_card_item{
		max-width:500px;
		max-height:250px;
		
	}
	.add_card{
		max-height:200px;
		
	}
	
	.card_big_info{
		min-height:80px;
	}
	
	.add_my_room_class{
		position:sticky;
		right:10px;
		left:80%;
		bottom:10px;
	}
	
}