  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa'), url('comfortaa_regular.ttf') format('ttf');
    src: url('comfortaa_regular.ttf') format('ttf');
    src: url('comfortaa_regular.ttf');
    }

	
@keyframes zoomOutWithCircle {
  0% {
    transform: scale(1);
    clip-path: circle(100%);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    clip-path: circle(50%);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    clip-path: circle(0%);
    opacity: 0;
  }
}
	
@-webkit-keyframes zoomOutWithCircle {
  0% {
    transform: scale(1);
    clip-path: circle(100%);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    -webkit-clip-path: circle(50%);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    -webkit-clip-path: circle(0%);
    opacity: 0;
  }
  }
}

	
@-webkit-keyframes zoomInWithCircle {
  0% {
    transform: scale(0);
    -webkit-clip-path: circle(0%);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    -webkit-clip-path: circle(100%);
    opacity: 1;
  }
}

@keyframes zoomInWithCircle {
  0% {
    transform: scale(0);
    clip-path: circle(0%);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    clip-path: circle(100%);
    opacity: 1;
  }
}


@keyframes blinks {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}
@-webkit-keyframes blinks {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

body{
    /* background:rgba(30,30,30,1); */
    margin:0;
    font-family:Comfortaa;
    min-height:100%;
    padding:0px;

   /* background-image:url('../images/bg_main.jpg'); */
	/* background-size:cover; */
	/* background-position:center; */
	/* background-attachment:fixed; */
	color:white;
}



*::-webkit-scrollbar{
	/* display:none; */
	/* width:20px; */
	/* height:10px; */
	width:5px;
	z-index:20;
	height:5px;
	
	
	
}

*::-webkit-scrollbar-track{
	background-color:var(--secondary_color);
	
	/* border:solid 1px lime; */
	
}

*::-webkit-scrollbar-thumb{
	background:rgba(205,205,205,0.9);
	border-radius:10px;
	cursor:pointer;
	transition:0.4s;
	/* box-shadow:0px 0px 3px 3px rgba(0,0,0,0.3); */
}
*::-webkit-scrollbar-thumb:hover{
	background:gray;
	cursor:pointer;
}

.water_not_paid{
	
	position:fixed;
	top:0;
	background-image:url(../images/watermark.png);
	bottom:0;
	width:100%;
	-webkit-pointer-events:none;
	pointer-events:none;
	z-index:999;
	opacity:0.4;
	
	
}


.disabled{
	color:gray;
	opacity:0.7;
	-webkit-opacity:0.5;
	cursor:initial;
	pointer-events:none;
	-webkit-user-select:none;
	user-select:none;
	
}

.primary_color_invert{
	
	color:white;
	
}

select > option{
	background:var(--primary_background);
	padding:5px;
	
}


.back_button_float{
	border:none;
	position:absolute;
	outline:none;
	background:rgba(0,200,60,1);
	color:white;
	font-family:Comfortaa;
	padding:10px;
	font-size:0.9em;
	min-width:50px;
	border-radius:5px;
	top:0px;
	z-index:3;
	left:3px;
	cursor:pointer;
	-webkit-transform:translateY(-20px);
	transform:translateY(-20px);
	
}


/* Modalizer Styles */
.modal_iframe_con{
	position:fixed;
	top:0;
	z-index:30;
	left:0px;
	right:0px;
	min-height:300px;
	/* border:solid red 1px; */
	height:100%;
	
	animation:zoomInWithCircle 0.3s ease-out forwards;
	-webkit-animation:zoomInWithCircle 0.3s ease-out forwards;
	
}
.modal_iframe_con > iframe::-webkit-scrollbar {
  display: none;
}

.modal_iframe_con::-webkit-scrollbar{
  display: none;
}


.general_container_::-webkit-scrollbar{
  display: none !important;
}

.hide_main > *{
  display: none;
}

.hide_main_con > *{
  display: none !important;
}

.close_modal_rev{
	position:fixed;
	top:0;
	display:flex;
	align-items:center;
	justify-content:center;
	right:5px;
	width:50px;
	height:50px;
	z-index:2;
	/* border:solid red 1px; */
	border-radius:10px;
	background:var(--secondary_background);
}

.modal_iframe_con .modal_iframe{
	width:100%;
	min-height:inherit;
	height:100%;
	border:none;
	z-index:1;
	position:relative;

}

.modal_on_container {
	padding-left:55px;
	
}

.modal_iframe_con.no_close_button > .close_modal_rev{
	display:none;
	
	
}




.modal_on_container.no_close_button > .close_modal_rev{
	display:none;
	
	
}
.modal_iframe_con.blurred {
	backdrop-filter:blur(2px);
	
	
}
.full_modal > .close_modal_rev{
	left:10px !important;
	right:unset;
	top:10px;
	
	
}

#general_container{
	animation:zoomInWithCircle 0.3s ease-out forwards;
	-webkit-animation:zoomInWithCircle 0.3s ease-out forwards;
}

.loading_frame{
	position:fixed;
	width:100%;
	height:100%;
	z-index:0;
	display:flex;
	align-items:center;
	justify-content:center;
	pointer-events:none;
	background:rgba(0,0,0,0.2);
	color:var(--primary_color_invert);
}


.fade_out_circle{
	animation:zoomOutWithCircle 0.3s ease-in forwards;
	-webkit-animation:zoomOutWithCircle 0.3s ease-in forwards;
	transform-origin: center;
	
}


.toggle_style_box{
	top:45% !important;
	bottom:30% !important;
	
}

.sidebar_toggle_arrow {
	-webkit-transition:height 0.7s !important;
	-webkit-transition-timing-function:ease-out !important;
	transition:height 0.7s !important;
	transition-timing-function:ease-out !important;
}


.modal_on_container{
	position:absolute;
	top:0;
	bottom:0;
	z-index:5;
	left:0px;
	right:0px;
	min-height:300px;
	/* border:solid red 1px; */
	height:100vh;
	
	
}


.floating_modal{
	max-width:1250px;
	max-height:650px;
	overflow:hidden;
	margin:0px auto;
	border-radius:0 0 10px 10px;
	box-shadow:0px 0px 3px 3px rgba(20,20,20,0.2);
	margin-top:30px;
}


.full_modal{
	max-width:initial;
	max-height:initial;
	overflow:hidden;
	margin:0px auto;
	border-radius:0 0 10px 10px;
	box-shadow:0px 0px 3px 3px rgba(20,20,20,0.2);
	margin-top:0px;
}

.native_dialoge{
	width:100%;
	border:none;
	padding:0;
	background:transparent;
}

.floating_modal::-webkit-scrollbar{
	display:none;
}

.floating_modal > .modal_iframe{
	overflow:hidden;
	
}
.floating_modal > .modal_iframe::-webkit-scrollbar{
	display:none;
	
}

.smaller_modal{
	max-width:700px;
	
	
}


.title_form_top{
	padding-left:30px;
	
	
	
}

.option_main_container{
	width:100%;
	min-height:150px;
	/* border:solid red 1px; */
	padding:5px;
}

.count_input{
	border:none;
	outline:none;
	width:100px;
	text-align:center;
	padding:15px;
	
}

.action_buttons_con_modal{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;
	
}

.action_buttons_con_modal > .df_button{
	aspect-ratio:1/1;
	width:80px;
	
}


.option_main_container_buttons{
	width:100%;
	padding:20px;
	display:flex;
	gap:10px;
}

div.item_code{
	padding:10px;
	
}
	
	
.sidebar_button.new_notification::before {
    content: attr(count);
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 13px;
    height: 13px;
    padding: 4px;
    background-color: var(--secondary_color);
    border-radius: 50%;
    color: var(--primary_color);
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material_icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}



/*Alert messages styles*/



.dialogue_con{
	position:fixed;
	z-index:102;
	background:rgba(0,0,0,0.4);
	width:100%;
	height:100%;
	box-sizing:border-box;
	top:0;
	left:0;
	right:0;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.dialogue_con > *{
	box-sizing:border-box;
	
}


.dialogue_box{
	width:100%;
	max-width:300px;
	background:white;
	border-right:10px solid yellow;
	min-height:100px;
	border-radius:10px;
	position:relative;
	color:rgba(50,50,50,1);
	padding-left:10px;
	padding-right:10px;
	padding:5px;

}

.cont_wrapper{
	width:100%;
	
	max-height:440px;
	overflow-y:auto;
	box-sizing:border-box;
}


.dia_title{
	color:rgba(35,35,35,1);
	width:100%;
	display:block;
	text-align:center;
	box-sizing:border-box;
	padding:20px;
	padding-bottom:5px;
	font-weight:bold;
}


.line_{
	width:98%;
	
	border:none;
	border-bottom:solid rgba(70,70,70,0.2) 2px;
	position:relative;
	z-index:1;
}

.line_2{
	width:98%;
	
	border:none;
	border-bottom:dashed rgba(70,70,70,0.2) 2px;
}


.close_dia{
	position:absolute;
	top:0;
	right:5px;
	color:rgba(35,35,35,1);
	font-size:2.5em;
	cursor:pointer;
	line-height:30px;
	
	
}




.alert_dail{
    position:fixed;
    bottom:10px;
    right:10px;
    box-sizing:border-box;
    width:100%;
	max-width:300px;
    min-height:60px;
    height:auto;
  /*  border:solid white 2px;*/
    color:black;
    border-radius:5px 8px 8px 5px;
    display:flex;
    text-align:left;
    padding:10px;
    font-size:1em;
    align-items:center;
    background:rgba(180,180,180,1);
    box-shadow:0px 0px 2px 2px rgba(50,50,50,0.3);
   
    cursor:pointer;
    z-index:20;
}


#map{
	min-height:400px;
	z-index:3;
	border-radius:4px;
	box-shadow:2px 2px 3px 3px inset rgba(0,0,0,0.3);
	width:100%;
	max-width:700px;
	
}

.map_view_styled{
	width:100%;
	max-width:700px;
	min-height:400px;
	border-radius:4px;
	box-shadow:2px 2px 3px 3px inset rgba(0,0,0,0.3);
	border:2px dashed rgba(50,50,50,0.3);
	
	
}

.square{
	max-width:40px;
	
}


.rows_{
	flex-direction:row !important;
	align-items:center;
	
}

.center{
	text-align:center !important;
	align-items:center;
	
}

.shadow_text{
	text-shadow:2px 2px 4px rgba(0,0,0,0.5);
	
	
}



.faded{
	opacity:0.7;
	
	
}


/* ToolTips */
#tooltip_container.visible_t{
	opacity:1;
}

#tooltip_container{
	position:fixed;
	width:fit-content;
	max-width:200px;
	/* border:solid red 1px; */
	top:0;
	pointer-events:none;
	opacity:0;
	display:flex;
	align-items:center;
	padding:10px;
	justify-content:center;
	border-radius:10px;
	background:var(--primary_background);
	color:var(--primary_color);
	min-height:30px;
	font-size:0.9em;
	-webkit-transition:opacity 0.4s ;
	transition:opacity 0.4s ;
	z-index:143;
	box-shadow:0px 0px 2px 2px rgba(30,30,30,0.4);
}

/* Snackbar/Toast */

/* The snackbar - position it at the bottom and in the middle of the screen */
.toast_snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; 
  margin-left: -125px; 
  background-color: var(--primary_background); 
  color: var(--primary_color); 
  text-align: center; 
  border-radius: 10px; 
  padding: 16px;
  position: fixed; 
  z-index: 143; 
  left: 50%;
  bottom: 20px; 
  box-shadow:0px 0px 3px 3px var(--primary_color_faded);
  
}


/* Toast message style show*/
.toast_snackbar.show {
	visibility: visible; /* Show the snackbar */
    
    font-family:Poppins;
    
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.7s;
	animation: fadein 0.5s, fadeout 0.5s 2.7s;

	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0; display:initial;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0; display:initial;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  99% {bottom: 0; opacity: 0;}
  to{display:none;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}  
  99% {bottom: 0; opacity: 0;}
  to{display:none;}
}



/* Snackbar/Toast End */



.justify{
	text-align:justify !important;
	
}

.type_error{
    background:var(--primary_background);
	border-right:3px solid rgba(245,0,60,0.5);
    color:var(--primary_color);
	
}

.type_success{
    background:var(--primary_background);
	border-right:3px solid rgba(5,250,60,0.5);
    color:var(--primary_color);
}

.type_warning{
    background:var(--primary_background);
	border-right:3px solid rgba(250,250,0,0.5);
    color:var(--primary_color);
}
.type_message{
    background:var(--primary_background);
	border-right:3px solid rgba(0,50,250,0.5);
    color:var(--primary_color);
}



/* ======================= */
/* Themes */
/* ======================= */


/* Selections --- */

#themes > option{
	padding:14px;
	
} 



#themes > option[value="kiwi"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #7AC70C;
}

#themes > option[value="blueberry"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #1CB0F6;
}

#themes > option[value="banana"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #FFB020;
}

#themes > option[value="pumpkin"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #FA811B;
}

#themes > option[value="raspberry"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #D33131;
}

#themes > option[value="jelly"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #8549BA;
}

#themes > option[value="cocoa"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #864E1B;
}

#themes > option[value="licorice"] {
    color: var(--primary_color_invert);
    font-weight: bold;
    background: #4C4C4C;
}


/* Use On Section --- */


.theme_kiwi{
    color: var(--primary_color_invert);
    background: #7AC70Cd5 !important;
}

.theme_blueberry{
    color: var(--primary_color_invert);
    background: #1CB0F6d5 !important;
}

.theme_banana{
    color: var(--primary_color_invert);
    background: #FFB020d5 !important;
}

.theme_pumpkin{
    color: var(--primary_color_invert);
    background: #FA811Bd5 !important;
}

.theme_raspberry{
    color: var(--primary_color_invert);
    background: #D33131d5 !important;
}

.theme_jelly{
    color: var(--primary_color_invert);
    background: #8549BAd5 !important;
}

.theme_cocoa{
    color: var(--primary_color_invert);
    background: #864E1Bd5 !important;
}

.theme_licorice{
    color: var(--primary_color_invert);
    background: #4C4C4Cd5 !important;
}






