.railed_main_con{
	width:100%;
	min-height:300px;
	box-sizing:border-box;
	/* border:solid red 1px; */
	padding:15px;
	display:flex;
	justify-content:flex-start;
	flex-direction:column;
}
.railed_main_con > * {
	box-sizing:border-box;
}


.railed_title_con{
	color:white;
	width:100%;
	/* border:solid green 1px; */
	padding:10px;
	text-align:left;
	font-size:2.1em;
}

.railed_bottom_con{
	color:black;
	width:100%;
	/* border:solid blue 1px; */
	padding:10px;
	text-align:center;
	
}


.rail_bottom_button{
	color:white;
	background:rgba(0,200,45,1);
	border:none;
	border-radius:10px;
	font-size:1.5em;
	padding:9px;
	width:100%;
	max-width:220px;
	
}

.railed_con{
	width:100%;
	height:200px;
	/* border:solid 1px lime; */
	padding:15px;
	gap:10px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
	display:flex;
	text-align:center;
	padding-bottom:10px;
}


.railed_con::-webkit-scrollbar{
	/* display:none; */
	/* width:20px; */
	height:10px;
	z-index:16;
	
	
}

.railed_con::-webkit-scrollbar-track{
	background:rgba(255,255,255,0);
	/* border:solid 1px lime; */
	
}

.railed_con::-webkit-scrollbar-thumb{
	background:var(--secondary_background);
	border-radius:10px;
	cursor:pointer;transition:0.4s;
}



.rial_item_con{
	min-width:300px;
	max-height:300px;
	/* border:solid gray 1px; */
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	position:relative;
}


.rail_file_icon{
	box-sizing:border-box;
	width:190px;
	-webkit-filter:drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
	filter:drop-shadow(4px 4px 5px rgba(0,0,0,0.5));
}


.rail_item_name{
	position:absolute;
	bottom:0px;
	box-sizing:border-box;
	left:0;
	right:0;
	width:100%;
	min-height:30px;
	color:white;
	font-size:0.9em;
	padding:3px;
	/* border:solid yellow 1px; */
	background:rgba(0,0,0,0.5);
	border-radius:0 0 10px 10px;
	
}

.no_padding{
    padding:0px;
    min-height:200px;

}
.no_padding > .railed_con{
    padding-left:0px;
    padding-right:0px;
}