

*{
	box-sizing:border-box;
}
.search_widget_con{
	width:100%;
	max-width:350px;
	min-height:50px;
	max-height:54px;
	top:0;
	position:fixed;
	padding-right:55px;
	overflow:hidden;
	border:3px solid var(--secondary_background);
	border-radius:4px 25px 25px 4px;
	-webkit-transform:translateX(-90%);
	transform:translateX(-90%);
	-webkit-transition:0.2s;
	transition:0.2s;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
	z-index:99;
	box-shadow:0px 0px 2px 2px rgba(0,0,0,0.3);
	background:var(--secondary_background);
}

.open_search_button{
	position:absolute;
	right:0;
	height:100%;
	width:50px;
	border-radius:4px 100% 100% 4px;
	top:0;
	color:white;
	background:var(--secondary_color);
	display:flex !important;
	justify-content:center;
	font-size:1.2em !important;
	align-items:center;
}

.search_con_{
	width:100%;
	height:50px;
	
	display:inline-block;
	position:relative;
	overflow:hidden;
	border-radius:0 10px 10px 0px;
}

.search_{
	width:100%;
	height:100%;
	outline:none;
	font-size:1.3em;
	font-family:Comfortaa;
	color:rgba(35,35,35,0.9);
	padding-right:50px;
	border:1px solid orange;
}


.search_button{
	width:50px;
	height:50px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	color:white;
	background:var(--secondary_background);
	display:flex;
	justify-content:center;
	font-size:1.5em;
	align-items:center;
}

.show_s{
	-webkit-transform:translateX(0);
	transform:translateX(0);
	
}


