  @font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    src: local('Comfortaa'), url('comfortaa_regular.ttf') format('ttf');
    src: url('comfortaa_regular.ttf') format('ttf'); 
    src: url('comfortaa_regular.ttf'); 
    }



.sign_in_main_con{
	box-sizing:border-box;
	width:100%;
	min-height:100vh;
	/* border:solid white 1px; */
	display:flex;
	align-items:center;
	justify-content:center;
	/* background:var(--primary_background_darker); */
	font-family:Gotham Rounded;
	
}
#main_body{
	background-color:var(--primary_background_darker);
	background-image:url("../images/bg_1.png");
	background-size:cover;
	background-attachment:fixed;
}


.sig_message_bar_small_{
	box-sizing:border-box;
	height:40px;
	width:100%;
	/* border:solid red 1px; */
	margin-bottom: 10px;
	text-align:left;
	padding-left:10px;
	
	
}
.msg_smallandgrey{
	font-size:0.75em;
	/* font-family:Comfortaa; */
	/* color:gray; */
	opacity:0.7;
	font-style:oblique;
}


.sign_in_con{
	box-sizing:border-box;
	width:100%;
	max-width:640px;
	height:fit-content;
	display:flex;
	min-height:420px;
	
	/* border:solid red 1px; */
	background:rgba(80,80,80,0.4);
	border-radius:20px;
	
	box-shadow:2px 2px 4px -2px rgba(50,50,50,0.6);
	padding:0px;
	flex-direction:row;
	justify-content:center;
	overflow:hidden;
	position:relative;
	padding-top:;
	margin-bottom:30px;
	color:rgba(20,20,20,1);
}


.box_left_con_{
	box-sizing:border-box;
	width:45%;
	min-width:222px;
	
	height:auto;
	/* border:solid white 1px; */
	display:flex;
	background-color:rgba(0, 0, 0, 0.2);
	/* background-image:url("../images/sign3.jpg"); */
	background-size:cover;
	text-shadow:0px 0px 2px rgba(0,0,0,0.6);
	position:relative;
	left:0;
	backdrop-filter: blur(3px);
	
	border-radius:1px;
	justify-content:center;
	overflow:hidden;
}


.welcome_con{
	box-sizing:border-box;
	width:100%;
	height:100%;
	min-height:340px;
	background:rgba(10,10,10,0.1);
	box-shadow:inset -4px 0px 4px 4px rgba(40,40,40,0.5);
	text-align:center;
	padding:10px;
	padding-top:30px;
}

.t_l{
	color:var(--primary_color_invert);
	font-size:1.4em;
	text-shadow:0px 0px 1px rgba(20,20,20,0.3);
	padding:10px;
	position:relative;
	top:-10px;
}

.t_l > span{
	color:white;
}

.title_wel{
	box-sizing:border-box;
	width:100%;
	display:block;
	color:white;
	/* font-family:Comfortaa; */
	font-size:1.5em;
	
	
}

.user_circle_{
	box-sizing:border-box;
	width:100px;
	height:100px;
	border:solid white 3px;
	margin:0px auto;
	border-radius:100%;
	background-image:url('../images/user.png');
	background-size:100% 100%;
	background-repeat:none;
}

.welcome_te{
	color:white;
	display:block;
	/* font-family:Comfortaa; */
	margin-top:40px;
	/* font-size:0.8em; */
}

.emblem_con_{
	box-sizing:border-box;
	width:170px;
	height:170px;
	/* border:solid red 1px; */
	margin-top:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	text-align:center;
}

.logo_con_sig_{
	box-sizing:border-box;
	width:100px;
	height:100px;
	/* border:solid blue 1px; */
	border-radius:100%;
}

._emblem_logo_brand_{
	box-sizing:border-box;
	width:100%;
	height:100%;
	border-radius:inherit;
}


.message_seg_{
	position:absolute;
	bottom:-10px;
	/* font-family:Comfortaa; */
	font-size:0.9em;
	color:rgba(190,190,190,1);
	z-index:10;
	
}

.box_rigt_con_{
	box-sizing:inherit;
	width:55%;
	min-width:293px;
	min-height:inherit;
	height:fit-content;
	/* background:rgba(255,255,255,1); */
	/* height:400px; */
	
	/* border:solid white 1px; */
	display:inline-block;
	position:relative;
	right:0;
	padding:10px;
}



.title_sign_up_{
	box-sizing:border-box;
	width:100%;
	/* border:1px solid white; */
	min-height:35px;
	text-align:left;
	padding-left:10px;
	margin-top:5px;
	/* font-family:Comfortaa; */
	text-align:center;
	padding-bottom:35px;
}


.l_line_{
	width:85%;
	background:none;
	height:0px;
	border:none;
	border-top:1px solid rgba(0,0,0,0.2);
	
}




.sign_devcon_f{
	position:relative;
	box-sizing:border-box;
	width:100%;
	/* border:solid 1px red; */
	margin-left:0px;
	display:flex;
	margin-bottom:20px;
	text-align:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.f_label_in{
	box-sizing:border-box;
	font-size:0.9em;
	/* color:rgba(45,45,45,1); */
	opacity:0.8;
	/* font-family:Comfortaa; */
	width:96%;
	text-align:left;
	display:block;
	padding:5px;
	padding-left:0px;
	
}

.sig_form_in_{
	box-sizing:border-box;
	width:96%;
	height:35px;
	border:1px solid transparent;
	padding:6px;
	padding-left:7px;
	font-size:0.9em;
	/* font-family:Comfortaa; */
	font-weight:bold;
	outline:none;
	padding-right:40px;
	border-radius:8px;
	background:rgba(100,100,100,0.2);
	-webkit-transition:0.2s;
	transition:0.2s;
	/* color:rgba(70,70,70,1); */
	
	
}


.sig_form_in_:focus{
	border:solid 1px var(--secondary_color);
	box-shadow:0 0 0 4px var(--secondary_color_faded);
	background:var(--primary_background);
	
}



.show_pass_b{
	position:absolute;
	z-index:10px;
	box-sizing:border-box;
	/* color:rgba(70,70,70,0.6); */
	opacity:0.7;
	right:5px;
	/* font-family:Comfortaa; */
	font-size:0.8em;
	top:0px;
	cursor:pointer;
	
	/* text-shadow:2px 2px 2px rgba(0,0,0,0.4); */
	user-select:none;
	text-transform: capitalize;
}




.sig_button_in{
	width:95%;
	height:35px;
	border-radius:1px;
	border:none;
	
	/* background:#013fc8; */
	/* color:white; */
	border-radius:10px;
	font-size:0.9em;
	/* font-family:Comfortaa; */
	cursor:pointer;
}

.sig_button_in:disabled{
	background:gray;
}

.bottom_bar_seg_u{
	box-sizing:border-box;
	width:100%;
	height:35px;
	padding:2px;
	/* border:solid red 1px; */
	position:absolute;
	bottom:2px;
	left:0;
	
}

.tar_message_gray_{
	font-size:0.6em;
	box-sizing:border-box;
	/* font-family:Comfortaa; */
	font-style:italic;
	color:gray;
}



.decor_side_seg_{
	width:200px;
	height:200px;
	box-sizing:border-box;
	position:absolute;
	bottom:0;
	left:0;
	/* border:solid white 1px; */
	z-index:8;
	background:url("../images/decor_1.png");
	background-size:100% 100%;
	display:none;
	
	
	
}

@media screen and (max-width: 600px){
	.box_left_con_{
			width:100%;
			min-height:340px;
			position:relative;
			/* border-radius:10px 10px 0px 20px; */
			margin-top:0px;
			
	}	
	
	.box_rigt_con_{
		width:100%;
		position:initial;
		/* border-radius:10px 10px 0px 0px; */
		box-shadow:0px 4px 4px 4px rgba(0,0,0,0.4);
		
	}
	
	
	.sign_in_con{
		flex-direction:column;
		
	}
	
	
}



/* ==== */

