
<!-- Always-visible first chart (unchanged) -->
<section class="padded_container">
  <div class="primary_background chart_container" id="probation_chart_con">
    <div class="primary_color normal chart_title bold big centered">
      Overall Data by Semester
    </div>
    <canvas id="probationLineChart"></canvas>
  </div>
</section>

<!-- Floating reveal arrow (appears when user scrolls) - placed just outside the first chart -->

<div class="flexed centered padded">

	<div id="revealArrow" title="Show more charts" aria-hidden="true">
	  <svg
		class="arrow"
		width="22"
		height="22"
		viewBox="0 0 24 24"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	  >
		<path d="M12 16L6 10H18L12 16Z" fill="currentColor" />
	  </svg>
	</div>

</div>


<div id="more_charts">
  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Students on Probation by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_on_probation"></canvas>
    </div>
  </section>



  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Students on Tracking by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_on_tracking"></canvas>
    </div>
  </section>



  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Overall Failed by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_total_failed"></canvas>
    </div>
  </section>



  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Overall Passed by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_total_passed"></canvas>
    </div>
  </section>



  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Overall Advised to shift by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_to_shift"></canvas>
    </div>
  </section>



  <section class="padded_container">
    <div class="primary_background chart_container probation_chart_con">
      <div class="primary_color normal chart_title bold big centered">
        Overall Advised to Transfer by Semester
      </div>
      <canvas tag="breakdown_charts" id="breakdown_to_transfer"></canvas>
    </div>
  </section>
</div>

<script>

</script>
