
<div class="padded_container filter_bar">
  <section class="chart_filter_bar">
  <div class="chart_filter_item">
    <label
      class="chart_filter_label primary_color bold small "
      for="probation-filter-program"
      >Department (Program)</label
    >
    <input type="button"
	class="df_button flexed full_width secondary_background primary_color_invert"
      id="probation-filter-program"
      class="chart_filter_select primary_color"
	  value="Select Programs"
	  
	  onclick='showModalContent("department_modal");'
    />


  </div>

  <div class="chart_filter_item ">
    <label
      class="chart_filter_label primary_color bold small"
      for="year_filter_start"
      >Year Range</label
    >
    <div class="flexed padded_gap input_styles">
      <input
      id="year_filter_start"
      class="chart_filter_select primary_color "
      type="number"
      name="year"
      min="1921"
      value="2001"
	  onchange="applyFilterRange();"
    >

    </input>
	
	
    <input
      id="year_filter_end"
      class="chart_filter_select primary_color"
      type="number"
      value="2000"
      name="year"
      min="1900"
	  onchange="applyFilterRange();"
    >

    </input>  
    
    </div>
    
  </div>
  
  <div class="chart_filter_item input_styles">
    <label
      class="chart_filter_label primary_color bold small"
      for="probation-filter-semester"
      >Semester Range</label
    >
    <select
      id="probation_filter_semester"
      class="chart_filter_select primary_color"
	  onchange="getSemServerData();"
    >
      <option value="all">All Semesters</option>
      <option value="1">1st Semester</option>
      <option value="2">2nd Semester</option>
      <option value="3">Summer</option>
    </select>
  </div>
</section>

</div>

<section class="padded_container">
  <div class="primary_background" id="probation_chart_con">
    <div class="primary_color normal chart_title bold big centered">
      Students on Probation by Semester
    </div>
    <canvas id="probationLineChart"></canvas>
  </div>
</section>
