{% extends "base_headless.html" %}

{% block title%}Login {% endblock %}

{% block extra_css %}
<link id='maine' rel="stylesheet" href="{{ url_for('static', filename='css/log_in.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_titlebar.css') }}">
{% endblock %}

{% block contents %}


<div class="df_titlebar_main_con third_background_faded primary_color_invert custom_pinned">


	<div class="title_text_big">
	
		<div class="logo_title_con">
	
		</div>
		
		<div class="title_text medium">
			On Probation Tracking
		</div>
	
	</div>
	
	<div class="nav_buttons_top">
		
		<div class="nav_button_entry">
			Login
		</div>
		
		<div class="nav_button_entry">
			Preview
		</div>
		
		<div class="nav_button_entry">
			About
		</div>
		
				
	</div>
	
	
</div>



<div class="log_in_main_con">
	<div class="log_in_con primary_background primary_color">
		<div class="log_title_con secondary_color medium">
			<span class="medium">ACCOUNT LOGIN</span>
				
			
		</div>
		<form action='log_account' method='POST'>
		<div class='form_cons'>
		
			<div class='input_form'>
				<span class='label'  >Username or Email</span>
				<input type='text' placeholder="Username or Email" name='email' class='log3_in primary_color' required> </input>
			</div>
		
			<div class='input_form'>
				<span class='label'>PASSWORD</span>
				<span class='pass_visib primary_color' onclick='toggle_pass(this, "password-")'>show</span>
				<input class='log3_in primary_color' type='password' id='password-'  name='password' required placeholder="Enter password"> </input>
			</div>
		
		</div>
			<div class='form_cons_mid_bar'>
				<input type='checkbox' id="remember_check" name='remember'><label for="remember_check" class='label small'>Remember Login</label>
				<span onclick="go_to('recover_my_account')" class='forget_link_'>Forgot Password?</span>
			</div>		
			<div class='form_cons_bottom_bar'>
				<input class='log3_butt secondary_background primary_color_invert' type='submit' value='LOG IN'>
			</div>	
				<hr class="line_2">
			<div class='form_cons_bottom_bar' onclick="go_to('signup')">
				<input class='log3_butt primary_background_darker primary_color' type='button' value='SIGN UP'>
			</div>			
			<div class='form_cons_bottom_bar'>
				<input type='hidden' value='{{ nextpage }}' name='nextpage'>
			</div>
		</form>

	
		
	</div>

</div>




<script src="{{ url_for('static', filename='js/daimofuu_titlebar.js') }}"> </script>
<script src="{{ url_for('static', filename='js/log_in.js') }}"></script>  

{% endblock %}

{% block extra_js %}
<script>

</script>
{% endblock %}

