{% extends "base_headless.html" %} {% block title%} Student List {% endblock %}
{% block extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/print_probation_list.css') }}"
/>
{% endblock %} {% block contents %}

<div class="list-wrapper">
  <div class="list-page">
    <!-- Header (repeats on every printed page via position:fixed in print CSS) -->
    <div class="list-header">
      <div class="header-left">
        <img
          src="{{ url_for('static', filename='images/lnu_logo.png') }}"
          alt="LNU Logo"
          class="lnu-logo"
        />
        <div class="header-text">
          <span class="university-name">LEYTE NORMAL UNIVERSITY</span>
          <span class="university-address">Tacloban City, Leyte</span>
        </div>
      </div>
      <div class="header-right">
        <span class="print-date">Date of printing: 01/01/2026</span>
      </div>
    </div>

    <!-- Page Title -->
    <div class="page-title-section">
      <div class="page-title-divider-top"></div>
      <h2 class="page-title">LIST OF STUDENTS WHO ARE ON PROBATION</h2>
      <div class="page-title-divider-bottom"></div>
    </div>

    <!-- Student List Table -->
    <div class="student-list-section">
      <table class="student-list-table">
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Year Level</th>
            <th>Yr &amp; Sem Probation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>20000000</td>
            <td>Dela Cruz, Juan</td>
            <td>4th year</td>
            <td>2024-2025 1<sup>st</sup> Sem</td>
          </tr>
          <tr>
            <td>20000001</td>
            <td>Calo, Gwyneth</td>
            <td>3rd year</td>
            <td>2025-2026 1<sup>st</sup> Sem</td>
          </tr>
          <tr>
            <td>20000002</td>
            <td>Justmer Rivera</td>
            <td>2nd year</td>
            <td>2025-2026 1<sup>st</sup> Sem</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/request_builder.js') }}"></script>


{% endblock %}




{% block extra_js %}


<script src="{{ url_for('static', filename='js/onprobation_printing.js') }}"></script>

<script src="{{ url_for('static', filename='js/lib/daimofuu_fancylabel.js') }}"></script>

<script src="{{ url_for('static', filename='js/daimofuu_titlebar.js') }}"> </script>


{% endblock %}
