{% extends "base_headless.html" %}

{% block title%}  User Management {% endblock %}

{% block extra_css %}


<link id='' rel="stylesheet" href="{{ url_for('static', filename='css/table_page.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_titlebar.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='css/action_bars_v2.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='css/extra_tablestyles.css') }}">


<link rel="stylesheet" href="{{ url_for('static', filename='css/dashstyles.css') }}">



<!-- <script src="{{ url_for('static', filename='js/data/profiling_config.js') }}"></script> -->
{% endblock %}


{% block contents %}

<!-- Top Tool Bar -->

	<div class="df_titlebar_main_con center secondary_background_gradient">
		<div class="title_container">
		
			<div class="text_banner big primary_color_invert"> Users Table</div>					
		</div>
	</div>


	<div class="user-management-container padded">
	


		<!-- Search, Filter, and Create Account button -->
		<div class="search-filter-container">
			<div class="search_and_select primary_color">
			<div class="input_class_rounded">  
				<label class="small"> <span class="fa fa-search"> </span> Search: </label>
				<input class="small use_vkb" id="search_input" type="text" placeholder="Name, Email or Id" onblur="delayedQuerry()" onchange="delayedQuerry()" oninput="delayedQuerry()">
			 </div>   

			 <div class="input_class_rounded">
				<label class="small"> Account Activation: </label>
				<select class="small primary_color" oninput="delayedQuerry()" id="status_input">
					<option value="" disabled selected>Filter by</option>
					<option value="" >All</option>
					<option value="pending" >Pending</option>
					<option value="confirmed" >Confirmed</option>

				</select>
			</div>
			
			 <div class="input_class_rounded">
				<label class="small"> Account Type: </label>
				<select class="small primary_color" oninput="delayedQuerry()" id="account_type">
					<option value="" > All </option>
					{% for user_type in get_user_types() %}
					<option value="{{ user_type.type_id}}">{{ user_type.type }}</option>
					{% endfor %}
				</select>
			</div>
			
			
			 
			</div>
			
			{% if page != 'trash' %}
				<a href="#" onclick="addNewItem()" class="create-action-btn small">  <span class="fa fa-user"> &nbsp;</span> <span> New User</span></a>
			{% endif %}
			

		</div>
	</div>



		
<div class="drop_down_menu_config hidden_layer" id="dp_conf_menu">

</div>


<!-- Filter Ribbons -->
<div class="filter_toolbar_con padded_left_right" style="display:none;" id="ribbon_container">

</div>


<div class="multi_select_option" id="selection_options">

		
	{% if page == 'trash' %}
		<span onclick="removePermanentItemMulti()" class="df_button_flat primary_background_darker hidden_op" tag="trash"><span class="fa fa-trash medium primary_color"> </span></span>
	{% else %}
		<span onclick="moveToTrashMulti()" class="df_button_flat primary_background_darker hidden_op" tag="trash"><span class="fa fa-trash medium primary_color"> </span></span>
	{% endif %}


	
	<span onclick="restoreItemMulti()" class="df_button_flat primary_background_darker hidden_op" tag="restore"><span class="fa fa-refresh medium primary_color"> </span></span>
</div>

<!-- Table Element -->
<section class="table_wrapper padded padded_left_right ">
	<div class="main_table_container primary_color primary_background tiny">
		<table>
		
			<thead id="header_generative">
			<tr class="sticky_header padded_header primary_color_invert primary_background_darker">
				<th class="sticky_column_left primary_background_darker check_cols"> <input class="check_input"  type="checkbox" onclick="selectAllhandle()" title="Select All"/> </th>			
				<th> id</th>			
				<th> Col 1</th>	
				<th> Col 2</th>	
				<th class="sticky_column_right action_cols"> Actions </th>
			</tr>

			
			</thead>
			<tbody id="data_generative">
				<tr class="padded_colms">
					<td  class="sticky_column_left primary_color primary_background_darker"> C</td>			
					<td> id</td>		
					<td> Col data</td>		
					<td> Col data</td>		
					<td class="sticky_column_right primary_color primary_background_darker"> Col data</td>	
				</tr>

		
			</tbody>
		
		
		</table>
	
	</div>
</section>


<!-- Bottom Status/Tool Bar -->
<div class="bottom_toolbar_con primary_background">

		<div class="pagination small" id="paginations">
			<a href="#">Prev page</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">Next page</a>
		</div>


</div>




<script src="{{ url_for('static', filename='js/request_builder.js') }}"></script>
<script src="{{ url_for('static', filename='js/foreignKeys.js') }}"></script>

<script>
qBuilder.server_address = "user_list";
current_role = "admin";
//qBuilder.filters.status = "active";
let pageType = "{{ page }}";


let selectTypes = [];


if(pageType == "trash"){
	//qBuilder.filters.status = "deleted";
	selectTypes = ["trash","restore"];
}else{
	selectTypes = ["trash"];
}





</script>


{% endblock %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/users_table.js') }}"></script>

<script src="{{ url_for('static', filename='js/daimofuu_titlebar.js') }}"> </script>

{% endblock %}






