{% extends "base_headless.html" %}

{% block title%}User Editor {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_editor.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_fancylabel.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/daimofuu_formeditor.css') }}">	
<!-- Advance Editor Styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dracula.css') }}">
{% endblock %}

{% block contents %}

<div class="editor_main_con"> 
	<div class="formclass_con" id="main_form_container">



	</div>
	
	
		<div class="bottom_toolbar ">
		
			<button class="df_button secondary_background primary_color_invert small" onclick="saveUser()" ><span class="fa fa-save"></span> Save</button>
			
			<button class="df_button_flat primary_background_darker primary_color small" onclick="cancelEditor(this)"> Close </button>
		
		</div>

</div>



<datalist id="item_categories">
</datalist>

<datalist id="usertype">
	
	{% for user_type in get_user_types() %}
	
	<option value="{{ user_type.type_id}}">{{ user_type.type }}</option>
	
	{% endfor %}

</datalist>




<script>
let hasChanges = false;
function updatesOn(elm){
	if(event.type == "change"){
		hasChanges = true;
	}
}
</script>


<script src="{{ url_for('static', filename='js/lib/signature_pad.min.js') }}"></script>

{% if page ==  'edit_user' %}
	<script src="{{ url_for('static', filename='js/data/user_forms_data_edit.js') }}"></script>
{% else %}
	<script src="{{ url_for('static', filename='js/data/user_forms_data.js') }}"></script>
{% endif %}




<script src="{{ url_for('static', filename='js/form_libs.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/daimofuu_fancylabel.js') }}"></script>

<script src="{{ url_for('static', filename='js/request_builder.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/user_editor_handles.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/modalizer.js') }}"></script>

<script>
//init and Render the Forms we have
let editType = "{{ page }}";
let pageType = "{{ page }}";
qBuilder.server_address = "_";



formDatas = configForm;


loadForms(0,0,0,1);
addFancyPlaceholder();
//loadEvents();//Force Pre-load Events of each form fields, if neccesary



</script>



{% endblock %}

{% block extra_js %}
<script>
</script>
{% endblock %}

